@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
div{
    display:flex;
    align-items: center;
    justify-content:center;
    font-size: 2em;
    color:#fff;
    text-shadow: 2px 2px 2px #000;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Bg-1{
    background-image: url(main.jpg);
    width:100%;
    height:100vh;
  }
  .Bg-2{
    background-image: url(paris1.jpg);
    width:100%;
    height:100vh;
  }
  .Bg-3{
    background-image: url(dubai.jpg);
    width:100%;
    height:100vh;
  }
  .Bg-4{
    background-image: url(Tokyo.123.jpg);
    width:100%;
    height:100vh;
  }
  .Bg-5{
    background-image: url(Bali.jpg);
    width:100%;
    height:100vh;
  }  

  .sec{
    padding: 80px 50px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    background-color: black;
  }